.form{
    font-family: $fontmain;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    box-sizing: border-box;
}
.form__field{
    padding: 5px;
}
h3{
    text-align: center;
    font-family: "Futura New";
    font-size: 40px;
    background-color: $bgcolororange;
}

