.header {
  box-sizing: border-box;
  width: 90vw;
  height: 100px;
  padding: 65px 5vw 0 5vw;
  background-color: $bgcolorlight;
  font-family: $fontmain;
  font-weight: 700;
  text-transform: uppercase;
  .header-container {
    display: flex;
    justify-content: space-between;
    .header-logo {
      width: 100px;
      height: 100px;
    }
    .header-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-list {
        display: flex;
        justify-content: flex-end;
        padding-inline-start: 0;
        list-style-type: none;
        font-size: 20px;

        .nav-list__item {
          float: left;
          margin-left: 5vw;
          color: $colortextgray;
          text-decoration: none;
        }
        .nav-list__item:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
