.map__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
 .map {
    position: relative;
 }  
.modal {
    display: none;
    position: absolute;
    width: 50vw;
    text-align: center;
    border-radius: 10px;
    top: 30vh;
    background-color: $bgcolororange;
    z-index: 2;
}

.modal__p {
    margin-top: 20px;
    font-family: $fontmain;
    color: $colortextdark;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    cursor: pointer;

}
.active {
    display: block;
}