
.rndm__qoute {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.qoute__img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding-left:30px ;
}

.qoute__p {
    font-family: $fontmain;
    font-size: 30px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .container__p {
        font-family: $fontmain;
        font-size: 30px; 
    }
    
    }

    .btntobe .btntobe__img {
        width: 130px;
        height: 130px;
    }

    .btntobe :active {
        transform: scale(1.2);
        box-shadow: $bgshadow;
    }

.h2 {
   text-align: center;
   font-size: 60px;
    background-color: $bgcolororange;
    font-family: $fontmain;
}