.slider {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: $fontmain;
  grid-template-rows: repeat(6, 40px);
  
  .slider-points{
    display: grid;
    justify-items: center;
    .slider-points__arc{
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      margin-top: 5px;
    }
    .slider-points__item1{
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .slider-points__item2{
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .slider-points__item3{
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .slider-points__item4{
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .slider-points__item5{
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .slider-points__item6{
      grid-row-start: 6;
      grid-row-end: 7;
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
  .slider-container {
    transition: all 1.2s ease-out;
    display: flex;
    margin-top: 151px;
    justify-content: center;
    align-items: center;
    flex-basis: 60vw;
    border-radius: 20px;
    background: $bgcolorwhite;
    // box-shadow: $bgshadow;
    margin-left: 12vw;
    transition: opacity 2s;
    .slider-slow{
      transition: all 1s ease-out;
    }

    // border: 1px solid var(--brown-bg, #ede9e8);

    .slider__text {
      margin: 0 26px 0 26px;

      .slider__text_header {
        @include h2($colortextdark);
      }
      .slider__text_paragraph {
        font-size: 20px;
      }
      // .slider__text_paragraphGray {
      //   color: $colortextgray;
      // }
    }
    .slider__img {
      border-radius: 20px;
      object-fit: cover;
      min-width:25vw;
      height: 25vw;
      

    }
  }
}
