@mixin h2($color, $bgcolor) {
  color: $color;
  background-color: $bgcolor;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 110px;
  text-align: center; 
  font-family: $fontmain;
}
